*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #3b3b3b !important;
}
nav{
    padding: 20px 5px;
}
strong{
    font-size: 25px; 
   color: #CCCCCC; 
}
small{ 
    font-size: 18px;
   color: 555555;
}
.hr{
    max-width: 1000px;
    margin: auto;
    color: #aaa;
    
}

.user{
    font-size: 18px;
    color: white;
}
.test-user{
    float: right;
    color: white;
}

.register-student{
    float: right;
    margin-right: 30px;
    border-radius: 5px;
    border: #212327;
    background-color:rgb(223, 168, 29);
    padding:8px 10px;
    display: block;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
} 
.gold{
    color: #83621b;
}
.arsh{
    color: #6b6b6b;
    transition: all 0.2s ease-in-out;
}
.arsh:hover{
    color: #858585;
}
.sub-title{
    font-size: 14px;
    padding: 5px 0px 10px 10px; 
    color: #858585;
    font-weight: bold
}
.register-student:hover{
    background-color:rgb(255, 192, 34);
    color: #83621b;
} 
.card-value{
    font-size: 38px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    color: #937124;

}
.the-header{
    color: white;
    text-align: center;
    background-color: #Daa520 !important;
    font-size: 20px;
}
.view-btn{
   background: #Daa520 !important;
   color:#fff;
}
.view-btn:hover{
    background: rgb(231, 175, 34) !important;
    color:#fff;
 }
label{
    color:rgb(104, 104, 104) !important; 
}
.center-btn{
    margin: auto;
    width: 100px;
}
.forgot{
    float: right;
    color: #Daa520 !important;
}
input{
    height: 30px;
    padding: 0px 10px 0px 15px;
    border: 1px solid rgb(226, 223, 216);
    border-radius: 20px;
    background-color: white ;
}
.input{
    width: 90%;
}
.the-button{
    width: 100px;
    padding: 0px 5px;
    font-size: 20px;
    background-color: #Daa520;
    color: white;
    height: 35px;
    border: 0px solid;
    border-radius: 3px;
}
.main{
    padding: 0px 10px 5px 120px;
    max-width: 1500px;
    margin: auto;
}
.icon-text{
    font-size: 18px;
    font-weight: bold;
    color: #937124;
    
}
.top-cards{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(150px, auto);
}
.item{
    background: linear-gradient(180deg, #FCBE21 0%, #C7910A 100%);
    border-radius: 8px;
    padding: 20px 10px 0px 10px;
    max-width: 320px !important;
}
.item2{
    background: #353535;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 25px;
    color: white;
}
.bottom-cards{
    margin: auto;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 1em; 
    grid-auto-rows: minmax(330px, auto);
}
.bottom-content{
    color: #A0A0A0;
    font-size: 12px;
}
.bottom-content a{
    color: #A0A0A0;
}
.nav{
    width: 100px;
    position: fixed;
    height: 100%;
    background: rgb(41, 41, 41);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.18);
}
.tooltips {
    position: relative;
    display: inline-block;
}

.tooltips .tooltiptexts {
    visibility: hidden;
    width: 160px;
    background: #555555;
    color: #A0A0A0;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 80%;
}

.tooltips:hover .tooltiptexts {
    visibility: visible;
}
.items-back{
    z-index: -1;
}
.the-card{
    background: #fff;
    margin: auto;
    border-radius: 5px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .045)
}
.logo{
    font-size: 34px;
    background: linear-gradient(180deg, #FCBE21 0%, #C7910A 100%);
    padding-top: 10px;
    width:100px;
    height: 80px;
    color: #83621b;
}
.sidebar-icon{
    font-size: 26px;
    color: #555555;
    margin: 30px 35px ;
    transition:all 0.13s ease-in-out; 
}
.sidebar-icon:hover{
    color:rgb(255, 192, 34);
}
.icon-content{
    width: 100px;
    margin: auto;    
}
.icon-content1{
    width: 60px;
    margin: auto;  
}
.xlarge-text{
    font-size: 120px;
}
.top-card-icon{
    color: #B78723;
    font-size: 80px;
}
.top-bar{
    height: 60px;
    padding: 0px 10px;
    margin-right: 30px;
}
.the-head{
    border: 1px solid white;
    background-color: #Daa520;
    color: white;
}

.the-close{
  color: white;
  font-size: 25px !important;
}


.bottom-card{
    border: 1px solid rgb(163, 156, 156);
    border-radius: 4px;
    outline: none;
    width: 90%;
    height: 90px;
}


.the-footer{
    height: 50px;
    border: 1px solid white;
    background-color: rgb(192, 184, 184);
    margin-top: 41px;
}

.first-button{
    float: right;
    margin-right: 40px;
    background-color: white;
    border: 0px;
}
.first-button:hover{
    float: right;
    margin-right: 40px;
    color: white;
    background-color: rgb(187, 187, 187);
}
.message-card{
    max-width: 600px !important;
    background: #fff;
    margin: auto;
    border-radius: 4px;
}

.second-button{
    float: right;
    width: 100px;
    border-radius: 2px;
    border: 0px;
    margin-right: 10px;
    background-color: #Daa520;
    color: white;
}
.second-button:hover{
    background-color: rgb(231, 175, 34);
}
@media (min-width: 1025px) and (max-width: 1280px ){
    .top-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bottom-cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 767px) and (max-width: 1024px ){
    .top-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bottom-cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px ){
    .top-cards{
        grid-template-columns: 1fr 1fr;
    }
    .bottom-cards{
        grid-template-columns:  1fr;
    }
    .register-student{
    display: none;
    } 
}
@media (min-width: 320px) and (max-width: 480px ){
    .top-cards{
        grid-template-columns: 1fr;
    }
    .bottom-cards{
        grid-template-columns:  1fr;
    }
}
